// @TODO

main {
	text-align: center;
	width: 100px;
}

h2 {
	margin-bottom: 10px;
}

button {
	background: #639;
	border-radius: 5px;
	border: 1px solid rgb(227, 122, 0);
	color: white;
	display: block;
	font-weight: bold;
	margin: 0 auto;
	padding: 8px;

	&:hover {
		background: darken(#639, 10%);
	}

	&.options {
		background: #ffc363;
	}

	&.options:hover {
		background: #ffa463;
	}

	&.toggle {
		background: #639fff;

		&:hover {
			background: #2baed9;
		}
	}

	&:first-child {
		margin-top: 0;
	}

	a {
		color: inherit;
		cursor: pointer;
		display: block;
		padding: 10px;
		text-decoration: none;
	}
}
